<html>
    <head>
        <title>
           Vicky Khandelwal
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="/js/load.js"></script>
        <%- style %>
        
    </head>

    <body>
        
        <main id="layout-main">
            <%- body %>

        </main>

        <%- script %>
        
    </body>
</html>